.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  background: #282c34;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.contenedor-principal{
  background-color: #282c34;
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contenedor-superior{
  background-image: url('./resourse/fondo.png');
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: 60%;
  display: flex;
}

.contenedor-inferior{
  display: flex;
  height: 100%;
  max-height: 50%;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  padding: 30px;
}

.contenedor-superior h1{
  color: white;
}

.contenedor-superior img{
  width: 15%; 
  border-radius: 50%;
  border: 4px solid rgb(255, 255, 255);
  object-fit: contain;
}

.contenedor-cartas{
  display: flex;
  width: 60%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.carta1{
  background: #f77c73;
  flex: 1;
  height: 70%;
  transition: flex 0.5 ease;
  cursor: pointer;
  border-radius: 0px 0px 0px 20px;
}
.carta2{
  background: #73b7f7;
  flex: 1;
  height: 70%;
  transition: flex 0.5 ease;
  cursor: pointer;
}
.carta3{
  background: #7ef773;
  flex: 1;
  height: 70% ;
  transition: flex 0.5 ease;
  cursor: pointer;
}
.carta4{
  background: #eef773;
  flex: 1;
  height: 70%;
  transition: flex 0.5 ease;
  border-radius: 0px 0px 20px 0px;
  cursor: pointer;
}

.carta1:hover{
  flex: 2 ;
}
.carta2:hover{
  flex: 2;
}

.carta3:hover{
  flex: 2;
}

.carta4:hover{
  flex: 2;
}

.footer-principal{
  display: flex;;
  background: #ffffff;
  align-items: center;
  width: 100%;
  height: 10%;
  position:fixed;
  bottom: 0;
}

.footer-principal div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-principal h3{
  cursor: pointer;
}

.footer-principal img{
  width: 40px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
}

.contenedor-cartas div{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contenedor-cartas img{
  max-width: 40%;
}

.contenedor-cartas h3{
  text-align: center;
  color: white;
}
.contenedor-principal-cv{
  background-color: #282c34;
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column; 
}

.contenedor-repo-principal{
  background: #282c34;
  min-height: 100dvh;
  top: 0;
}

